table {
  width: 100%;

  td {
    padding: 10px;
  }

  tr {
    &:nth-child(even) {
      background: #eee;
    }
  }
}

.mat-form-field {
  width: 100%;
  max-width: 300px;
  padding-left: 10px;
  padding-right: 10px;
}

.vehicle-registry-filter {
  justify-content: space-between;

  .mat-form-field {
    width: 300px;
    position: relative;
  }
}

.no-match {
  text-align: center;
  padding: 50px;
}
